*{
    padding:0;
    margin:0;
}
ul,li,ol{
    list-style:none;
}
a{
    text-decoration:none;
}
body{
	/* overflow: hidden; */
}

#bod1{
	height: 135px;
	width: 100%;
	z-index: 2;
}
#bod11{
	margin: auto;
	width: 1180px;
	height: 135px;
	z-index: 2;
	background-color: #fff;
}
/*tier1*/
#tier1{
	padding-top: 3px;
	height: 36px;
}
#tier1 span{
	color: #9a9791;
	font-size: 15px;
}
#tier1>div{
	margin-top: 5px;
	float: left;
	display: inline-block;	  
	margin-right: 3px;   
}
#a1{
	width: 450px;
}
#a2{
	/*padding-top: 5px;*/
	width: 90px;
}
#a2>div{
	float: left;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;
}
#a3{
	width: 90px;
}
.tp{height: 22px;}
#a3>div{
	display: inline-block;
}
#a4{width: 55px;}
#a4>div{
	float: left;
	display: inline-block;
}
#a5{widows: 90px;}
#a5>div{
	float: left;
	display: inline-block;
}
#a8>div{
	float: left;
	display: inline-block;
}
#a11>div{
	float: left;
	display: inline-block;
}

/*tier2*/
#tier2{
	height: 90x;
}
#tier2>div{
	display: inline-block;
	float: left;
	height: 90px;
}
#b1{width: 252px;}
#b2{width: 660px;}
#b2>div{height: 33px;width: 660px;padding-top: 10px;padding: auto;}
#b2 li{display: inline-block;}
#b2 input{width: 500px;height: 30px;float: left;border:3px solid #ff4d04;}
#b2 span{font-size: 13px;}
#b3{width: 260px;}
#b3>div{display: inline-block;width: 84px;height: 35px;margin-top: 9px;float: left;}
#b33>div{display: inline-block;float: left;margin-top: 5px;}
#b3 span{font-size: 11px; }
#b33{background-color: #ff4d04;}
#b33 span{color:white;}
.hh{color: red;}
.pp{color: #666560;}
.zz{color: #abbee6;}
#b2 li>div{background-color: #666560; border:0.5px solid #666560;width: 0px;height: 10px;display: inline-block;margin-left: 5px;margin-right: 5px;}
#sousuo{padding-left:8px;padding-top: 4px; width: 72px;height: 26px;display: inline-block;float: left;background-color: #ff4d04;border:3px solid #ff4d04;}
#sousuo button{border: none; width: 68px;height: 23px; font-size: 15px; color:white;background-color: #ff4d04;outline: #ff4d04;}
.xi{height: 18px;;}
.jv{margin: auto;}

#bod2{
	height: 45px;
	width: 100%;
	background-color: #f8f7f6;
}
#bod22{
	margin: auto;
	width: 1180px;
	height: 45px;
}
#tier3>div{
	float: left;
	display: inline-block;
}
#tier3 li{
	height: 35px;
	display: inline-block;
	padding: 0PX 26PX;
	padding-top: 10px;
}
#c1{
	padding: auto;
	width:173px; 
	height: 45px;
	background-color: #ff4d04;
}
#c1 span{
	margin-top: 10px;
	margin-left: 30px;
	display: inline-block;
	color: white;
}
#c2{
	height: 45px;
	width: 770PX;
	position: absolute;
}
#tier3 span:hover{
	color: #ff4d04;
}
#tier3 li:hover #tier span{
	color: white;
}
#hot{display: inline-block; position: absolute; left: 730px;top: 0px;}















#bod3{
	overflow: hidden;
	height: 900px;
	width: 100%;
	background-color: #f8f7f6;
	position: relative;
}
#bod33{
	margin: auto;
	width: 1180px;
	height: 900px;
}
#tier4{
	width: 1180px;
	height: 550px;
}
#tier4>div{
	height: 550px;
	display: inline-block;
	float: left;
}
#d1{
	width: 173px; 
	background-color: white;
}
#d2{
	width: 800px;
	background-color: white;
}
#d3{
	width: 204px; 
	background-color: white;
}
#d11{width: 173px;height: 425px;}
#d12{width: 173px;height: 125px;background-color: white;}
#d111{padding-top: 30px;padding-left: 5px; background-color:#4c4c4a;  float: left; display: inline-block; width: 28px;height: 395px;}
#d112{background-color: white; padding-top: 10px; padding-left: 8px; float: left; display: inline-block; width: 127px;height: 415px;}
#d111 span{color:#ff4d4b;font-size: 20px;}
#d111>div{margin-bottom: 50px;}
#d112 div{display: inline-block;float:left;width: 30px;height: 30px; }
#d112 span{color: black;font-size: 13px;}
#d12>div{height: 40px;width: 173px;overflow: hidden;}



#d21{width: 800px;height: 360px;position: relative;overflow: hidden;}
#slider{height: 364px;width: 6400px;position: absolute;left: -800px;}
#slider>div{width: 799px;height: 364px;float: left;}                                      
#slider img{display: block;}
#d21>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	/* display: none; */
	opacity: 0;
}
#left{left:30px;}
#right{right: 30px;}
.nav{
	position: absolute;
	left: 300px;
	bottom: 20px;
}
.nav li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav .active{background-color: red;}
#nav>li{padding:auto;text-align: center;}


#szf1 a{position: absolute;display: block;color: #ff4d04;font-size: 15px;margin-top: 6px;margin-bottom: 6px;}
#szf1{position: relative;width: 204px;}












#d22 a{display: inline-block;width: 199px;height: 185px;}
#d22 a div{width: 199px;height: 185px;}
#d22{width: 800px;height: 186px;}
#d12 span{color: #a75c38;font-size: 15px;}
#d121 div{display: inline-block;float: left;}
#d122 div{display: inline-block;float: left;}
#d123 div{display: inline-block;float: left;}
.im{padding-top: 5px;padding-left: 5px; height: 40px;width: 35px;display: inline-block;float: left;}
.sp{padding-top: 5px;height: 40px;width: 130px;display: inline-block;float: left;}
#d22>div{width: 199px;height: 185px;display: inline-block;float: left;}
#d31{width: 204px;height: 46px;}
#d32{width: 204px;height: 317px;overflow: hidden;}
#d33{width: 204px;height: 185px;}
#d31 span{color: #ff4d04;font-size: 15px;}
#d31>div{display: inline-block;float: left;margin-top: 12px;margin-left: 10px;}
#d33 span{font-size: 12px;}
#d33>div{margin-bottom: 5px;}
#d331{width: 204px;height: 30px;}
#d331 div{display: inline-block;float: left;margin-left: 5px;}
#d332{padding-left: 10px;}
#d333{padding-left: 10px;}
#d333 select{width: 50px;}
#d334{padding-left: 10px;}
#d334 button{height: 25px; background-color: #ff4d04;width: 180px;}
.ku{color: #ff4d04;}
.tu{margin-left: 5px;margin-top: 5px;}

#tier5{height: 180px;width: 1180px;}
#tier5>div{display: inline-block;float: left;height: 180px;}
#e1{width: 172px;}
#e2{padding-left: 30px;padding-right: 30px;}
#e2 span{display: block;}
.hhh span{font-size: 18px;}
.sss span{font-size: 12px;color: #666560;}        
.hhh{margin-top: 20px;}
.sss{margin-top: 8px;}
#e3{padding-left: 30px;padding-right: 30px;}
#e4{padding-left: 30px;padding-right: 30px;}
#e5{padding-left: 30px;padding-right: 30px;}
#e6{padding-left: 30px;padding-right: 30px;}
#e7{padding-left: 30px;padding-right: 30px;}
#e8{width: 235px;}
#e8 div{width: 129px;height: 146px;margin: auto;margin-top: 20px;}

#tier6{height: 45px;width: 1180px;}
#tier6 li{display: inline-block;float: left;margin-left: 15px;margin-top: 8px;}
#f{height: 45px;width: 750px;margin: auto;}

#tier7{height: 65px;width: 1180px;}
#tier7 div{margin: auto;}
#tier7 span{font-size: 10px;color: #9a9791;}
#tier8{height: 50px;width: 1180px;}
#g1{width: 390px;}
#g2{width: 910px;}
#g3{width: 110px;}
#x{width:790px;height: 50px;margin: auto; }
#x div{display: inline-block;}

/*右面漂浮条*/
#pf1{
	position: fixed;
	height: 50px;
	width: 140px;
	left:1480px;
	top: 200px;
}
#pf2{
	position: fixed;
	height: 140px;
	width: 150px;
	left:1480px;
	top:255px;
	background-color: #f69c73;
}
#pf3{
	position: fixed;
	height: 140px;
	width: 150px;
	background-color: #f69c73;
	left:1480px;
	top: 400px;
}
#pf4{
	position: fixed;
	height: 140px;
	width: 125px;
	left:1480px;
	top: 545px;
}
#ppf1{
	margin-top: 10px;
	margin-left: 15px;
}
#ppf2{
	margin-top: 50px;
	margin-left: 15px;
}
#ppf3{
	margin-top: 22px;
	height: 28px;
	width: 130px;
}
#ppf4{
	/* display: inline-block; */
	margin-left: 10px;
}
#ppf5{
	/* display: inline-block; */
	margin-left: 10px;
	margin-top: 20px; 
}
#pf2 img{
	display: inline-block;
	float: left;
}
#pff6 div{width: 50px;}
#pff6{display: inline-block;float: left;margin-top: 40px;}
#pff5{padding-left:10px; }
#pff5 button{background-color: #ff4d04;margin: auto}
#ofo1{display: inline-block;height: 140px;}
#ofo2{width: 100px;height: 100px;display: inline-block;}




